/* :is(nav, header, section) h2 {
  background-color: orange;
  color: black;
}
:is(nav, header, section) h2:hover {
  background-color: green;
} */

.special :not(h1) {
  background-color: #47388f;
  color: wheat;
  text-transform: uppercase;
}
